body, html {
    margin: 0;
    padding: 0;
}

.logo-container {
    position: relative;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px; /* Задайте нужный размер */
    height: auto; /* Сохраняет пропорции изображения */
}

h1 {
    margin-top: 10px; /* Задайте размер, чтобы отодвинуть заголовок вниз */
    text-align: center; /* Опционально, если нужно центрировать заголовок */
}

.pagination {
    display: flex;
    justify-content: center; /* Центрирование ссылок */
    align-items: center; /* Вертикальное выравнивание */
    margin: 20px 0; /* Отступы сверху и снизу */
}

.pagination a {
    margin: 0 10px; /* Отступы между ссылками */
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none; /* Убираем подчеркивание ссылок */
    background-color: #007bff; /* Цвет фона кнопок */
    color: white; /* Цвет текста */
    border-radius: 5px; /* Скругление углов */
    transition: background-color 0.3s ease; /* Плавный переход цвета при наведении */
}

.pagination a:hover {
    background-color: #0056b3; /* Цвет фона при наведении */
}

.page-divider {
    border: 0;
    height: 2px;
    background-color: #ccc;
    margin: 40px 0;
}

.parent-container {
    display: flex;
    justify-content: space-between; /* Располагает Flex-контейнеры с равным расстоянием между ними */
    padding: 20px;
}

.flex-container {
    display: flex;
    flex-direction: column; /* Внутри каждого Flex-контейнера элементы расположены по вертикали */
    justify-content: left;
    align-items: stretch;
    padding: 20px;
    width: 30%; /* Задает ширину каждого контейнера */
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.flex-container h2 {
    margin: 0 0 10px 0; /* Отступы для заголовков */}

.flex-container p {
    margin: 0;
}

.stretch {
    flex-grow: 2; /* Этот контейнер будет растягиваться на большее пространство */
}

table, th, td {
    width: 100%;
    border: 1px solid;
    border-collapse: collapse; /* Убирает двойные границы между ячейками */
    padding: 1px;
    text-align: center;
}

thead {
    background-color: #f2f2f2; /* Фон для заголовков таблицы */
}

caption {
    font-weight: bold;
    margin-bottom: 10px;
}

.centered-heading {
    display: flex;
    justify-content: center; /* Центрирует заголовок по горизонтали */
    align-items: center;     /* Центрирует заголовок по вертикали */
    height: 100px;           /* Высота для центрации по вертикали */
    margin: 0;
}

.footer {
    background-color: grey;
    position: page;
    right: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
    font-size: 19px;
    font-weight: bold;
    color: #fafaff;
}